*.project
.project
*.classpath
*/.classpath
*.class
*/.class
.idea/
target/*
/target/*
*/target
/target/
*/.settings/
*/.settings
*/.settings/
*/.iml/
.settings/*
/.settings/
*.iml
*/*.iml
*.class
/logs/
/log/
/bin/
.git/
/node_modules/
/dist/
/bower_components/
/lib/
/build/
*.versionsBackup
*/*.versionsBackup
.factorypath